body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height:100vh;
  background-color: #e9e9e9;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2f2f2f;
  color: #258ca8;
  font-size: 24px;
  font-weight: 700;
  padding: 25px 0;
}

.main {
  padding: 140px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  background-color: rgb(49, 49, 49);
  color: rgb(255, 255, 255);
  font-weight: 700;
  width: 260px;
  padding-top: 40px;
  border-radius: 8px;
}

.display {
  background-color: rgb(59, 59, 59);
  height: 100px;
  display: flex;
  align-items: flex-end;
  padding: 5px 10px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  justify-content:center;
  padding: 10px 15px;
}

#backspace {
  flex: 70%;
}

#C {
  flex-grow: 30%;
}

.button {
  background-color: rgb(59, 59, 59);
  font-size: 21px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  width: 55px;
  height: 35px;
  cursor: default;
  color: rgb(255, 255, 255);


  transition: background-color 0.2s linear;
}

.button:hover {
  background-color: rgb(65, 65, 65);
}

.footer {
  background-color: #2f2f2f;
  color: #258ca8;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
  gap: 7px;
}

.github img {
  width: 25px;
  height: auto;
}